body {
  margin: 0;
  padding:0;
  box-sizing: border-box;

}
.wrapper{
  width:90%;
  height:500px;
  margin:auto;
  margin-top: 30px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;

}
.infos{

  border-radius: 10px 0 0 10px;
  background-color: white;

}
.infos h3{
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: sans-serif;
}
.btn input{
  display: flex;
  flex-direction: column;
  width:300px;
  height:35px;
  margin:auto;
  margin-bottom: 20px;
  background-color: lightgrey;
  border-style: none;
  font-size: 1rem;
  padding: 1.2%;
  color:dimgrey;

}
.para{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  font-style: normal;
  color:dimgrey;

}
.para p ,input{
  cursor: pointer;
}
.infos button{
  width:310px;
  height:40px;
  margin: 20px;
  background-color: #9c27b0;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  border-style: none;
  cursor: pointer;

}
.cta{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:dimgrey;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: 10px;
}

hr{
  border-style: 1px solid black;
  width:25%;
}
.icons{
  width:50%;
  margin:auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;


}
.icons i {
  color: #fff;
    text-shadow: 1px 1px 1px #ccc;
   color: dimgrey;
    font-size: 1.8em;
    cursor: pointer;

}

/*second div */
.logo-reg{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius:0 10px 10px 0;
  background-color: #40234E;
  padding: 2%;
  padding-top: 80px;
  text-align:center;
  color: white;

}
.logo-reg .fa-user-plus{
  color: #fff;

  color: dimgrey;
  font-size: 5em;

}
.logo-reg h3{
  font-size: 2.5rem;
  font-family: sans-serif;

}
.logo-reg p{
  font-size: 1rem;
  font-family: sans-serif;
}
.logo-reg button{
  width:150px;
  height:40px;
  margin: 20px;
  border-radius: 50px;
  color: white;
  background-color: #40234E;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
s  border-style: 0.3px solid white;
  cursor: pointer;
